<!-- _partial/archive -->
<%
   var title = '';
   if (page.category) title = page.category;
   if (page.tag) title = page.tag.charAt(0).toUpperCase() + page.tag.slice(1);
   if (page.archive){
   	  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
   	  else title = __('archive_a');
   }
   var year, month;
   var last_year = 1970;
   var is_first_year = 1;
   %>

<!-- archive.title -->
<div class="page-header">
  <h1 class="archive-title<%
    if (page.tag){ %>-tag archive-title-<%= page.tag %><% } 
    else if (page.category){ %>-category<% }
    %>"><%= title %> </h1>
</div>

<div class="row page">
  <!-- cols -->
  <% if (theme.widgets.length) { %>
  <div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	  <% } %>


	  <!-- display as list -->
	  <div class="archive">
		  <ul class="" type="none">
		  <% page.posts.each(function(item){ %>
		
<li class="listing-item">


	<% if (item.link){ %>
  <% if (item.title){ %>
  <span class="title link"><a href="<%- item.link %>" target="_blank" <% if (item.description) { %> title="<%= item.description %>" <% } %>><%= item.title %></a></span>
  <% } else { %>
  <span class="title link"><a href="<%- item.link %>" target="_blank" <% if (item.description) { %> title="<%= item.description %>" <% } %>><%= item.link %></a></span>
  <% } %>
  <% } else { %>
  <span class="title">
	  <a class="lead" href="<%- config.root %><%- item.path %>" <% if (item.description) { %> title="<%= item.description %>" <% } %>>
		  <% if (item.photos && item.photos.length > 0){ %>
		  <img class="img-circle nofancybox listpic" src="<%- url_for(item.photos[0]) %>">
		  <% } %>

		  <%= item.title %></a></span>
  <% } %>
</li>
<% }); %>
</ul>
</div>


</div> <!-- col-md-9/col-md-12 -->

<% if (theme.widgets.length) { %>
<%- partial('sidebar') %>
<% } %>
