<%- partial('_partial/head') %>
 <body>
  <%- partial('_partial/navigation') %>
  <div class="container">
  	<div class="content">
    	 <%- body %>
	  </div>
  </div> <!-- container-narrow -->
  <footer class="footer"> 
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_footer') %>
  </footer>
</body></html>
